@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

:root {
  /* font-family: "Montserrat", sans-serif; */

  --skyBlue: #2274e0;

  --bg-primary: #0a0f1c;
  --bg-secondary: #0f172a;
  --bg-card: #1a1f2e;
  --bg-accent: #172554;

  --text-primary: #eaf2ff;
  --text-secondary: #b8c7e0;

  --brand-primary: #0bc0df;
  --brand-secondary: #127cc9;
}

body {
  /* font-family: "Montserrat", sans-serif; */

  /* background: linear-gradient(-45deg, #0a0f1c, #1a1f2e, #0f172a, #172554); */
  background: url(./assets/bg/bg1.mp4);
  /* background-size: 400% 400%;
  animation: gradientBG 15s ease infinite; */
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-family: "DM Serif Display", serif;
  font-weight: 100;
}

p,
button,
span,
h2,
h4,
h3,
a,
li,
input,
label {
  font-family: "Urbanist", sans-serif;
}

.loader-letter {
  opacity: 0;
  transform: translateY(20px);
}

*,
::after,
::before {
  /* font-family: "Montserrat", sans-serif; */
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

/* In your global.css */
@keyframes zoomOutSlide {
  0% {
    transform: scale(1) translateX(0);
    opacity: 1;
  }
  50% {
    transform: scale(0.95) translateX(var(20px));
    opacity: 0.7;
  }
  100% {
    transform: scale(1) translateX(0);
    opacity: 1;
  }
}

.zoom-out-transition {
  animation: zoomOutSlide 0.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
